# Delphi
__history/
*.dcu
*.dcp
*.drc
*.ppu
*.o
*.obj
*.res
*.local
*.identcache
*.tvsconfig
*.otares
*.stat

# Binaries
bin/
*.exe
*.dll
*.bpl

# IDE
*.dsk
*.ini

# Backup
*.bak
*~
.~*

# Test files
*.int

# OS
Thumbs.db
Desktop.ini

# Temporary
*.tmp
*.log
nul

# Generated output
*.msg
*.debug.ssl

# GNU Global tags
GPATH
GRTAGS
GTAGS